@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.App {
  text-align: center;
  height: 100vh;
  background-image: url('https://data.1freewallpapers.com/download/girl-umbrella-sakura-anime-art-cartoon-3840x2160.jpg');
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}


.anime-quote {
  position: absolute;
  text-align: center;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  /* height: 400px; */
  margin: 30px 0 0 100px;
  padding: 1%;
  border-radius: 10px;
  background-color: rgba(190, 225, 230, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

button:hover {
  background-color: #ffe8d6;
  transition: 0.3s;
  transform: scale(1.1);
  font-weight: bold;
}
